<!doctype html>
<html>

<head>
  <meta charset="utf-8" />
  <title>机器人管理</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="//unpkg.com/layui@2.6.4/dist/css/layui.css">
  <script src="//unpkg.com/layui@2.6.4/dist/layui.js"></script>
  <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="/js/url.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script src="/js/main.js"></script>

</head>

<body>
<div id="app">
  <br><br><br>
  <el-card>
    <div slot="header" style="text-align: center">
      <span>登录</span>
    </div>
    <div>
      <el-row>
        <el-col :span="4" :offset="1">
          <el-input v-model="loginBot.qqId" placeholder="账号"></el-input>
        </el-col>
        <el-col :span="4" :offset="1">
          <el-input v-model="loginBot.password" placeholder="密码" type="password"></el-input>
        </el-col>
        <el-col :span="4" :offset="1">
          <el-select v-model="loginBot.protocol" placeholder="登录协议">
            <el-option label="安卓手机" value="ANDROID_PHONE"></el-option>
            <el-option label="安卓平板" value="ANDROID_PAD"></el-option>
            <el-option label="安卓手机" value="ANDROID_WATCH"></el-option>
          </el-select>
        </el-col>
        <el-col :span="4" :offset="1">
          <el-input v-model="loginBot.deviceFile" type="file"></el-input>
        </el-col>
        <el-col :span="3" :offset="1">
          <el-button type="primary" @click="loginNewBot">登录</el-button>
        </el-col>
      </el-row>
    </div>
  </el-card>
  <br><br>

  <el-table border stripe :data="bots" v-loading="loading">
    <el-table-column type="selection"></el-table-column>
    <el-table-column prop="qqId" label="账号" sortable></el-table-column>
    <el-table-column prop="nickName" label="昵称" sortable></el-table-column>
    <el-table-column prop="image" label="头像" sortable>
      <template slot-scope="scope">
        <img v-bind:src="scope.row.image" class="layui-nav-img">
      </template>
    </el-table-column>
    <el-table-column prop="online" label="是否在线" sortable>
      <template slot-scope="scope">
        <el-switch v-model="scope.row.online" @change="login(scope.row.qqId, scope.row.online)">
        </el-switch>
      </template>
    </el-table-column>
    <el-table-column label="操作">
      <template slot-scope="scope">
        <el-button v-on:click="botManager(scope.row)">管理</el-button>
      </template>
    </el-table-column>
  </el-table>
</div>

<script>

  let vue = new Vue({
    el: "#app",
    data: {
      bots: [
      ],
      loginBot: {
        protocol: "ANDROID_PAD"
      }
    },
    methods: {
      login: function (qqId, online) {
        axios.get("/bot/login?online=" + online + "&qqId=" + qqId)
                .then(resp => {
                  if (resp.data.ok) {
                    if (online) {
                      this.$message({message: "成功登录此账号", type: "success"});
                    } else {
                      this.$message("成功下线此账号");
                    }
                  } else {
                    this.$message.error(resp.data.msg);
                    this.updateData();
                  }
                })
      },
      // 从后台更新表格数据
      getData: function (fn) {
        let that = this;
        axios.get("/bot/bots")
                .then(resp => fn(resp.data))
                .catch(function (e) {
                  that.$message.error("刷新表格失败")
                })
      },
      botManager(row) {
        this.$message("机器人暂不提供管理功能")
      },
      loginNewBot() {
        console.log(JSON.stringify(this.loginBot));
        let that = this;
        let formData = new FormData();
        formData.append('qqId', that.loginBot.qqId);
        formData.append('password', that.loginBot.password);
        formData.append('protocol', that.loginBot.protocol);
        if (that.loginBot.deviceFile) {
          formData.append('deviceFile', that.loginBot.deviceFile);
        }
        this.$message( "正在登录，可以刷新界面查看机器人状态，或者等待登录结果")
        axios({
          method: "post",
          url: "/bot/newLogin",
          data: formData,
          headers: {'Content-Type': 'multipart/form-data; boundary=------WebKitFormBoundaryRO0YA4pq9oCgwTkt'}
        }).then(resp => {
          console.log(resp)
          if (resp.data.ok) {
            that.$message({message: "成功登录此账号", type: "success"});
            that.loginBot = {protocol: 'ANDROID_PAD'}
          } else {
            that.$message.error(resp.data.msg);
          }
          this.updateData();
        })
      },
      updateData() {
        this.loading = true;
        this.getData(data => this.bots = data);
        this.loading = false;
      }
    },
    created: function () {
      this.updateData();
      //this.openDialog();
    }
  });
</script>
</body>

</html>