<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <title>状态</title>
    <script src="/js/vue2.js"></script>
    <script src="/js/axios.js"></script>
    <link rel="stylesheet" href="/layui/dist/css/layui.css">
    <script src="/layui/dist/layui.js"></script>
    <script src="/js/jquery.js"></script>
    <script src="/js/url.js"></script>
    <link rel="stylesheet" href="/element-ui/theme-chalk/index.css">
    <script src="/element-ui/index.js"></script>
    <script src="/js/main.js"></script>

</head>

<body>
    <div id="app">
        <el-table border stripe :data="tableData" v-loading="loading">
            <el-table-column type="selection"></el-table-column>
            <el-table-column prop="ctrlName" label="功能" sortable></el-table-column>
            <el-table-column prop="showName" label="名称" sortable></el-table-column>
            <el-table-column prop="enable" label="状态" sortable>
                <template slot-scope="scope">
                    <el-switch v-model="scope.row.enable" @change="setEnable(scope.row.ctrlName, scope.row.enable)">
                    </el-switch>
                </template>
            </el-table-column>
            <!-- <el-table-column prop="includes" label="白名单">
                <template slot-scope="scope">
                    <el-button>查看</el-button>
                </template>
            </el-table-column> -->
            <el-table-column type="expand" label="过滤" width="100px">
                <template slot-scope="scope">
                    <el-select v-model="selectIdType">
                        <el-option v-for="item in idTypes" :key="item.name" :label="item.show" :value="item.id">
                        </el-option>
                    </el-select>
                    <br><br>
                    <label>白名单</label>
                    <el-tag v-for="include in scope.row.includes[selectIdType]" :key="include" closable
                        @close="removeIncludesExcludes(include,selectIdType, scope.row.ctrlName,true)">
                        {{include}}
                    </el-tag>
                    <el-input class="input-new-tag" v-if="includeInputVisible" v-model="tagInputValue"
                        ref="includeSaveTagInput" size="small"
                        @keyup.enter.native="handleInputConfirm(tagInputValue,selectIdType, scope.row.ctrlName,true)"
                        @blur="handleInputConfirm(tagInputValue,selectIdType, scope.row.ctrlName,true)">
                    </el-input>
                    <el-button v-else class="button-new-tag" size="small" @click="showInput(true)">+ 添加</el-button>
                    <br><br>
                    <label>黑名单</label>
                    <el-tag v-for="exclude in scope.row.excludes[selectIdType]" :key="exclude" closable
                        @close="removeIncludesExcludes(exclude,selectIdType, scope.row.ctrlName,false)">
                        {{exclude}}
                    </el-tag>
                    <el-input class="input-new-tag" v-if="excludeInputVisible" v-model="tagInputValue"
                        ref="excludeSaveTagInput" size="small"
                        @keyup.enter.native="handleInputConfirm(tagInputValue,selectIdType, scope.row.ctrlName,false)"
                        @blur="handleInputConfirm(tagInputValue,selectIdType, scope.row.ctrlName,false)">
                    </el-input>
                    <el-button v-else class="button-new-tag" size="small" @click="showInput(false)">+ 添加</el-button>
                </template>
            </el-table-column>
            <!-- <el-table-column prop="excludes" label="黑名单">
                <template slot-scope="scope">
                    <el-button>查看</el-button>
                </template>
            </el-table-column> -->
            <el-table-column label="操作">
                <template slot-scope="scope">
                    <el-button v-on:click="dialogUrl(scope.row.managerUrl)">管理</el-button>
                </template>
            </el-table-column>
            </el-table-column>
        </el-table>
    </div>

    <style>
        .el-tag+.el-tag {
            margin-left: 10px;
        }

        .button-new-tag {
            margin-left: 10px;
            height: 32px;
            line-height: 30px;
            padding-top: 0;
            padding-bottom: 0;
        }

        .input-new-tag {
            width: 90px;
            margin-left: 10px;
            vertical-align: bottom;
        }
    </style>

    <script>

        let vue = new Vue({
            el: "#app",
            data: {
                tableData: [
                    // { ctrlName: "test123", showName: "测试名称", enable: true },
                    // { ctrlName: "abc", showName: "ABC", enable: false }
                ],
                selectIdType: 1,
                idTypes: [
                    { id: 1, name: "bot", show: "机器人" },
                    { id: 2, name: "group", show: "群" },
                    { id: 3, name: "friend", show: "好友" }
                ],
                tagInputValue: "",
                includeInputVisible: false,
                excludeInputVisible: false,
                loading: true
            },
            methods: {
                setEnable: function (ctrlName, enable) {
                    axios.get("/manager/setEnable?enable=" + enable + "&ctrlName=" + ctrlName)
                        .then(resp => {
                            if (enable) {
                                this.$message({ message: "成功开启此功能", type: "success" });
                            } else {
                                this.$message("成功关闭此功能");
                            }
                        })
                },
                // 设置标签编辑，不必关注
                showInput(isInclude) {
                    if (isInclude) {
                        this.includeInputVisible = true;
                        this.$nextTick(_ => {
                            this.$refs.includeSaveTagInput.$refs.input.focus();
                        });
                    } else {
                        this.excludeInputVisible = true;
                        this.$nextTick(_ => this.$refs.excludeSaveTagInput.$refs.input.focus())
                    }
                },
                // 添加标签，处理新增数据
                handleInputConfirm(id, idType, ctrlName, isInclude) {
                    let inputValue = this.tagInputValue;
                    console.log(id);
                    if (inputValue) {
                        if (isInclude) {
                            axios.get("/manager/setIncludeByName?id=" + id + "&ctrlName=" + ctrlName + "&idTypeId=" + idType)
                                .then(resp => this.getData(data => this.tableData.find(v => v.ctrlName === ctrlName).includes = data.find(v => v.ctrlName === ctrlName).includes))
                                .catch(e => this.$message.error("请求错误，请确保数据正确"))
                        }
                        else {
                            axios.get("/manager/setExcludeByName?id=" + id + "&ctrlName=" + ctrlName + "&idTypeId=" + idType)
                                .then(resp => this.getData(data => this.tableData.find(v => v.ctrlName === ctrlName).excludes = data.find(v => v.ctrlName === ctrlName).excludes))
                                .catch(e => this.$message.error("请求错误，请确保数据正确"))
                        }
                    }
                    if (isInclude) {
                        this.includeInputVisible = false;
                    } else {
                        this.excludeInputVisible = false;
                    }
                    this.tagInputValue = '';
                },
                // 标签删除，处理删除数据
                removeIncludesExcludes: function (id, idType, ctrlName, isInclude) {
                    if (isInclude) {
                        axios.get("/manager/removeIncludeByName?id=" + id + "&ctrlName=" + ctrlName + "&idTypeId=" + idType)
                            .then(resp => this.getData(data => this.tableData.find(v => v.ctrlName === ctrlName).includes = data.find(v => v.ctrlName === ctrlName).includes))
                            .catch(e => this.$message.error("请求错误，请确保数据正确"))
                    }
                    else {
                        axios.get("/manager/removeExcludeByName?id=" + id + "&ctrlName=" + ctrlName + "&idTypeId=" + idType)
                            .then(resp => this.getData(data => this.tableData.find(v => v.ctrlName === ctrlName).excludes = data.find(v => v.ctrlName === ctrlName).excludes))
                            .catch(e => this.$message.error("请求错误，请确保数据正确"))
                    }
                },
                // 从后台更新表格数据
                getData: function (fn) {
                    let data;
                    axios.get("/manager/main?page=1&limit=100")
                        .then(resp => fn(resp.data.data))
                        .catch(function (e) {
                            this.$message.error("刷新表格失败")
                        })
                },
                dialogUrl(url) {
                    if (!url) {
                        this.$message("无管理页面")
                        return;
                    }
                    layui.use('layer', function () {
                        let layer = layui.layer;
                        var index = layer.open({
                            title: "专属管理",
                            type: 2,
                            area: ['800px', '493px'],
                            content: url,
                            shade: 0,
                            moveOut: true,
                            maxmin: true,
                        });
                        dialogIndex = index;
                    });
                }
            },
            computed: {
                showIncludes: function () {
                    return this
                },
                showExcludes: function () {
                    return this.scope.row.excludes[selectIdType - 1] || []
                }
            },
            created: function () {
                this.loading = true;
                this.getData(data => this.tableData = data);
                this.loading = false;
            }
        });

        var dialogIndex;
        function closeDialog() {
            layui.use("layer", function() {
                let layer = layui.layer;
                layer.close(dialogIndex);
            })
        }
    </script>
</body>

</html>